![Algoritmos e Estrutura de Dados I](AED1_banner.jpg)

## <font color='blue'>Aula 12 - Algoritmos e Estrutura de Dados 1 </font>
## <font color='blue'>Estruturas de Dados (Listas / Tuplas / Dicionários)</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.9.7

## <font color='blue'>LISTAS...</font>
---
### Trabalhando com Listas

In [5]:
# Criando uma lista
lista_1 = ["arroz, frango, tomate, leite"]

In [6]:
type(lista_1)

list

In [7]:
# Imprimindo a lista
print(lista_1)

['arroz, frango, tomate, leite']

In [8]:
# Criando outra lista
lista_2 = ["arroz", "frango", "tomate", "leite"]

In [9]:
type(lista_2)

list

In [10]:
# Imprimindo a lista
print(lista_2)

['arroz', 'frango', 'tomate', 'leite']

In [11]:
# Criando lista
lista_3 = [23, 100, "Cientista de Dados"]

In [12]:
type(lista_3)

list

In [13]:
# Imprimindo
print(lista_3)

[23, 100, 'Cientista de Dados']

In [14]:
# Atribuindo cada valor da lista a uma variável.
item1 = lista_3[0]
item2 = lista_3[1]
item3 = lista_3[2]

In [15]:
# Imprimindo as variáveis
print(item1, item2, item3)

23 100 Cientista de Dados

In [16]:
alunos = ['ana', 'pedro', 'maria']
notas = [9, 3.5, 6]

In [17]:
for i in range(len(alunos)):
    print(f"O(a) estudante {alunos[i]} teve nota {notas[i]}!")

O(a) estudante ana teve nota 9!
O(a) estudante pedro teve nota 3.5!
O(a) estudante maria teve nota 6!

#### Atualizando Um Item da Lista

In [18]:
lista_2

['arroz', 'frango', 'tomate', 'leite']

In [19]:
# Imprimindo um item da lista
lista_2[2]

'tomate'

In [20]:
# Atualizando um item da lista
lista_2[2] = "chocolate"

In [21]:
# Imprimindo lista alterada
lista_2

['arroz', 'frango', 'chocolate', 'leite']

#### Deletando Um Item da Lista

In [22]:
lista_2

['arroz', 'frango', 'chocolate', 'leite']

In [23]:
# Não é possível deletar um item que não existe na lista. Vai gerar erro index out of range
del lista_2[4]

IndexError: list assignment index out of range

In [24]:
# Deletando um item específico da lista
del lista_2[3]

In [25]:
# Imprimindo o item com a lista alterada
lista_2

['arroz', 'frango', 'chocolate']

#### Listas de Listas (Listas Aninhadas)

Listas de listas são matrizes em Python.

In [26]:
# Criando uma lista de listas
listas = [ [1,2,3], [10,15,14], [10.1,8.7,2.3] ]

In [27]:
# Imprimindo a lista
print(listas)

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [28]:
# Atribuindo um item da lista a uma variável
a = listas[0]

In [29]:
listas[0][1]

2

In [30]:
a

[1, 2, 3]

In [31]:
b = a[0]

In [32]:
b

1

In [33]:
list1 = listas[1]

In [34]:
list1

[10, 15, 14]

In [35]:
valor_1_0 = list1[0]

In [36]:
valor_1_0

10

In [37]:
valor_1_2 = list1[2]

In [38]:
valor_1_2

14

In [39]:
list2 = listas[2]

In [40]:
list2

[10.1, 8.7, 2.3]

In [41]:
valor_2_0 = list2[0]

In [42]:
valor_2_0

10.1

#### Operações com Listas

In [43]:
# Criando uma lista aninhada (lista de listas - Matrizes)
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [44]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [45]:
# Atribuindo à variável a o primeiro valor da primeira lista
a = listas[0][0]

In [46]:
a

1

In [47]:
b = listas[1][2]

In [48]:
b

14

In [49]:
c = listas[0][2] + 10

In [50]:
c

13

In [51]:
d = 10

In [52]:
e = d * listas[2][0]

In [53]:
e

101.0

#### Concatenando Listas

In [54]:
lista_s1 = [34, 32, 56]

In [55]:
lista_s1

[34, 32, 56]

In [56]:
lista_s2 = [21, 90, 51]

In [57]:
lista_s2

[21, 90, 51]

In [58]:
# Concatenando listas
lista_total = lista_s1 + lista_s2

In [59]:
lista_total

[34, 32, 56, 21, 90, 51]

### Operador in

In [60]:
# Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [61]:
# Verificando se o valor 10 pertence a lista
print(10 in lista_teste_op)

False

In [62]:
# Verificando se o valor 100 pertence a lista
print(100 in lista_teste_op)

True

### Funções Built-in

In [63]:
lista_s1.

SyntaxError: invalid syntax (Temp/ipykernel_7388/2777343514.py, line 1)

![Listas](listas.jpg)

In [64]:
# Criando uma lista
lista_numeros = [10, 20, 50, -3.4]

In [65]:
# Função len() retorna o comprimento da lista
len(lista_numeros)

4

In [66]:
# Função max() retorna o valor máximo da lista
max(lista_numeros)

50

In [67]:
# Função min() retorna o valor mínimo da lista
min(lista_numeros)

-3.4

In [68]:
# Criando uma lista
lista_formacoes_dsa = ["Analista de Dados", "Cientista de Dados", "Engenheiro de Dados"]

In [69]:
lista_formacoes_dsa

['Analista de Dados', 'Cientista de Dados', 'Engenheiro de Dados']

In [70]:
# Adicionando um item à lista
lista_formacoes_dsa.append("Engenheiro de IA")

In [71]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA']

In [72]:
lista_formacoes_dsa.append("Engenheiro de IA")

In [73]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA',
 'Engenheiro de IA']

In [74]:
lista_formacoes_dsa.count("Engenheiro de IA")

2

In [75]:
# Criando uma lista vazia
a = []

In [76]:
print(a)

[]

In [77]:
type(a)

list

In [78]:
a.append(10)

In [79]:
a

[10]

In [80]:
a.append(50)

In [81]:
a

[10, 50]

In [82]:
old_list = [1,2,5,10]

In [83]:
new_list = []

In [84]:
# Copiando os itens de uma lista para outra
for item in old_list:
    new_list.append(item)

In [85]:
lista = []
while True:
    n = int(input("Digite um valor (-1 para sair): "))
    if n == -1:
        break
    lista.append(n)

print(lista)

Digite um valor (-1 para sair): 10
Digite um valor (-1 para sair): 5
Digite um valor (-1 para sair): -1
[10, 5]

In [86]:
new_list

[1, 2, 5, 10]

In [87]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print (cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [88]:
cidades.index('Salvador')

2

Lembre-se: em Python o índice começa por 0!

In [89]:
cidades.index('Rio de Janeiro')

ValueError: 'Rio de Janeiro' is not in list

In [90]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [91]:
cidades.insert(2, 110)

In [92]:
cidades

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']

In [93]:
# Remove um item da lista
cidades.remove(110)

In [94]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [95]:
# Reverte a lista
cidades.reverse()

In [96]:
# Imprime a lista
cidades

['Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [97]:
x = [3, 4, 2, 1]

In [98]:
x

[3, 4, 2, 1]

In [99]:
# Ordena a lista
x.sort()

In [100]:
x

[1, 2, 3, 4]

## <font color='blue'>TUPLAS...</font>
---
### Trabalhando com Tuplas

In [109]:
# Imprimindo a tupla
tupla1

('Geografia', 23, 'Elefantes', 9.8, 'Python')

In [110]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [111]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [112]:
# Tuplas não suportam delete de um item específico
del tupla1["Elefantes"]

TypeError: 'tuple' object does not support item deletion

In [113]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

In [114]:
tupla1

'Chocolate'

In [115]:
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [116]:
tupla1[0]

'Geografia'

In [117]:
# Verificando o comprimento da tupla
len(tupla1)

5

In [118]:
# Slicing, da mesma forma que se faz com listas
tupla1[1:]

(23, 'Elefantes', 9.8, 'Python')

In [119]:
tupla1.index('Elefantes')

2

In [120]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [121]:
# Deletando a tupla
del tupla1

In [122]:
tupla1

NameError: name 'tupla1' is not defined

In [123]:
# Criando uma tupla
t2 = ('A', 'B', 'C')

In [124]:
t2

('A', 'B', 'C')

In [125]:
# Tuplas não suportam atribuição de item
t2[0] = 'D'

TypeError: 'tuple' object does not support item assignment

In [126]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [127]:
type(t2)

tuple

In [128]:
type(lista_t2)

list

In [129]:
lista_t2

['A', 'B', 'C']

In [130]:
lista_t2.append('D')

In [131]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [132]:
t2

('A', 'B', 'C', 'D')

### Funções Built-in

![Tuplas](tuplas.jpg)

## <font color='blue'>DICIONÁRIOS...</font>
---
### Trabalhando com Dicionários

![Dicionários](dicionarios.jpg)

In [133]:
# Isso é uma lista
estudantes_lst = ["Pedro", 24, "Ana", 22, "Ronaldo", 26, "Janaina", 25]

In [134]:
estudantes_lst

['Pedro', 24, 'Ana', 22, 'Ronaldo', 26, 'Janaina', 25]

In [135]:
type(estudantes_lst)

list

In [136]:
# Isso é um dicionário
estudantes_dict = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [137]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [138]:
type(estudantes_dict)

dict

In [139]:
estudantes_dict["Pedro"]

24

In [140]:
estudantes_dict["Marcelo"] = 23

In [141]:
estudantes_dict["Marcelo"]

23

In [142]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25, 'Marcelo': 23}

In [143]:
estudantes_dict.clear()

In [144]:
estudantes_dict

{}

In [145]:
del estudantes_dict

In [146]:
estudantes_dict

NameError: name 'estudantes_dict' is not defined

In [147]:
estudantes = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [148]:
estudantes

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [149]:
len(estudantes)

4

In [150]:
estudantes.keys()

dict_keys(['Pedro', 'Ana', 'Ronaldo', 'Janaina'])

In [151]:
estudantes.values()

dict_values([24, 22, 26, 25])

In [152]:
estudantes.items()

dict_items([('Pedro', 24), ('Ana', 22), ('Ronaldo', 26), ('Janaina', 25)])

In [153]:
estudantes2 = {"Camila":27, "Adriana":28, "Roberta":26}

In [154]:
estudantes2

{'Camila': 27, 'Adriana': 28, 'Roberta': 26}

In [155]:
estudantes.update(estudantes2)

In [156]:
estudantes

{'Pedro': 24,
 'Ana': 22,
 'Ronaldo': 26,
 'Janaina': 25,
 'Camila': 27,
 'Adriana': 28,
 'Roberta': 26}

In [157]:
dic1 = {}

In [158]:
dic1

{}

In [159]:
dic1["chave_um"] = 2

In [160]:
print(dic1)

{'chave_um': 2}

In [161]:
dic1[10] = 5

In [162]:
dic1

{'chave_um': 2, 10: 5}

In [163]:
dic1[9.13] = "Python"

In [164]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python'}

In [165]:
dic1["teste"] = 5

In [166]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python', 'teste': 5}

In [167]:
dict1 = {}

In [168]:
dict1

{}

In [169]:
dict1["teste"] = 10

In [170]:
dict1["key"] = "teste"

In [171]:
# Atenção, pois chave e valor podem ser iguais, mas representam coisas diferentes.
dict1

{'teste': 10, 'key': 'teste'}

In [172]:
dict2 = {}

In [173]:
dict2["key1"] = "Data Science"

In [174]:
dict2["key2"] = 10

In [175]:
dict2["key3"] = 100

In [176]:
dict2

{'key1': 'Data Science', 'key2': 10, 'key3': 100}

In [177]:
a = dict2["key1"]

In [178]:
b = dict2["key2"]

In [179]:
c = dict2["key3"]

In [180]:
a, b, c

('Data Science', 10, 100)

In [181]:
# Dicionário de listas
dict3 = {'chave1':1230, 'chave2':[22,453,73.4], 'chave3':['picanha', 'fraldinha', 'alcatra']}

In [182]:
dict3

{'chave1': 1230,
 'chave2': [22, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [183]:
dict3['chave2']

[22, 453, 73.4]

In [184]:
# Acessando um item da lista, dentro do dicionário
dict3['chave3'][0].upper()

'PICANHA'

In [185]:
# Operações com itens da lista, dentro do dicionário
var1 = dict3['chave2'][0] - 2

In [186]:
var1

20

In [187]:
# Duas operações no mesmo comando, para atualizar um item dentro da lista
dict3['chave2'][0] -= 2

In [188]:
dict3

{'chave1': 1230,
 'chave2': [20, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

#### Criando Dicionários Aninhados

In [189]:
# Criando dicionários aninhados
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}

In [190]:
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'Dict aninhado em Python'}}}

In [191]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

'Dict aninhado em Python'

### Funções Built-in

![Dicionários](dict.jpg)

## <font color='blue'>EXERCÍCIOS...</font>
---
### Exercícios sobre Listas

1. Faça um algoritmo que carregue um vetor de 10 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o mesmo vetor, na ordem inversa de entrada.

In [192]:
numeros = []
for i in range(10):
    numero = int(input(f"Digite o número {i + 1}: "))
    numeros.append(numero)
print("\nVetor na ordem inversa:")
for numero in reversed(numeros):
    print(numero)

Digite o número 1: 3
Digite o número 2: 5
Digite o número 3: 8
Digite o número 4: 27
Digite o número 5: 18
Digite o número 6: 15
Digite o número 7: 20
Digite o número 8: 19
Digite o número 9: 21
Digite o número 10: 2

Vetor na ordem inversa:
2
21
19
20
15
18
27
8
5
3

2. Faça um algorimto que carregue um vetor de 5 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o maior valor e sua posição.

In [193]:
numeros = []
for i in range(5):
    numero = int(input(f"Digite o número {i + 1}: "))
    numeros.append(numero)
maior_valor = max(numeros)
posicao = numeros.index(maior_valor)
print(f"\nMaior valor: {maior_valor}")
print(f"Posição: {posicao}")

Digite o número 1: 5
Digite o número 2: 8
Digite o número 3: 13
Digite o número 4: 25
Digite o número 5: 4

Maior valor: 25
Posição: 3

3. Faça algoritmo que carregue dois vetores (listas) de cinco elementos numéricos cada um e mostre um vetor resultante na intercalação desses dois vetores

In [195]:
vetor1 = []
vetor2 = []
vetor_intercalado = []
print("Digite 5 números para o primeiro vetor:")
for i in range(5):
    numero = int(input(f"Número {i + 1}: "))
    vetor1.append(numero)
print("\nDigite 5 números para o segundo vetor:")
for i in range(5):
    numero = int(input(f"Número {i + 1}: "))
    vetor2.append(numero)
for i in range(5):
    vetor_intercalado.append(vetor1[i])
    vetor_intercalado.append(vetor2[i])
print("\nVetor intercalado:")
print(vetor_intercalado)

Digite 5 números para o primeiro vetor:
Número 1: 1
Número 2: 2
Número 3: 3
Número 4: 4
Número 5: 5

Digite 5 números para o segundo vetor:
Número 1: 6
Número 2: 7
Número 3: 8
Número 4: 9
Número 5: 10

Vetor intercalado:
[1, 6, 2, 7, 3, 8, 4, 9, 5, 10]

In [196]:
# Exemplo de geração de números aleatórios (randômicos) entre 1 e 60
from random import randint
a = randint(1, 60)
print(a)

3

In [197]:
# Exemplo de geração de 10 jogadas de dados
from random import randint
# Gerando 10 jogadas
for i in range (0,10):
    lado = randint(1, 6)
    print(lado, end=" ")

1 3 5 4 3 1 1 5 5 2

4. Faça um Algoritmo que simule 6000 jogadas de um dado de 6 faces. Para simular o resultado utilize a função randint  Ao final, mostre a frequência de sorteio de cada uma das faces

In [198]:
import random 
faces = [0] * 6 
for _ in range(6000):
    roll = random.randint(1, 6)
    faces[roll - 1] += 1
for i in range(6):
    print(f"Face {i + 1}: {faces[i]} vezes")

Face 1: 1033 vezes
Face 2: 1006 vezes
Face 3: 1024 vezes
Face 4: 940 vezes
Face 5: 977 vezes
Face 6: 1020 vezes

5. Faça um algoritmo que simule a jogada de dois dados de 6 faces. O programa deve usar randint para rolar o primeiro dado e deve usar randint novamente para rolar o segundo dado. A soma das duas faces deve ser calculada. Assim: a soma variará de 2 a 12. O programa deve rolar 30.000 vezes e mostrar a frequência com que a soma (de 2 a 12) aparecem.  Verifique se o valor 7 corresponde a 1/6 das jogadas!

In [199]:
import random

# Inicializa a contagem das somas
somas = [0] * 11  # Para somas de 2 a 12, usamos índices de 0 a 10

# Simula 30.000 jogadas de dois dados
for _ in range(30000):
    dado1 = random.randint(1, 6)  # Rolando o primeiro dado
    dado2 = random.randint(1, 6)  # Rolando o segundo dado
    soma = dado1 + dado2          # Calcula a soma das faces
    somas[soma - 2] += 1          # Incrementa a contagem da soma (soma - 2 para ajustar o índice)

# Mostra a frequência de cada soma (de 2 a 12)
print("Frequência das somas após 30.000 jogadas:")
for i in range(11):
    print(f"Soma {i + 2}: {somas[i]} vezes")

# Verifica se o valor 7 ocorre aproximadamente 1/6 das jogadas
frequencia_7 = somas[7 - 2]  # Índice da soma 7
porcentagem_7 = (frequencia_7 / 30000) * 100

print(f"\nA soma 7 ocorreu {frequencia_7} vezes, o que corresponde a {porcentagem_7:.2f}% das jogadas.")

# Verifica se o valor 7 está próximo de 1/6 (aproximadamente 16.67%)
if abs(porcentagem_7 - 16.67) < 1:
    print("A soma 7 está dentro da faixa esperada de 1/6 das jogadas.")
else:
    print("A soma 7 está fora da faixa esperada de 1/6 das jogadas.")

Frequência das somas após 30.000 jogadas:
Soma 2: 783 vezes
Soma 3: 1733 vezes
Soma 4: 2488 vezes
Soma 5: 3458 vezes
Soma 6: 4130 vezes
Soma 7: 5062 vezes
Soma 8: 4086 vezes
Soma 9: 3292 vezes
Soma 10: 2403 vezes
Soma 11: 1732 vezes
Soma 12: 833 vezes

A soma 7 ocorreu 5062 vezes, o que corresponde a 16.87% das jogadas.
A soma 7 está dentro da faixa esperada de 1/6 das jogadas.

6. Faça um algoritmo que leia uma matriz 2x2 e imprima os seus elementos na ordem:

1,1 =

1,2 =

2,1 =

2,2 =

Obs: linha, coluna

In [200]:
# Inicializa uma matriz 2x2
matriz = []

# Lê os elementos da matriz 2x2
print("Digite os elementos da matriz 2x2:")
for i in range(2):
    linha = []
    for j in range(2):
        valor = int(input(f"Elemento ({i+1},{j+1}): "))
        linha.append(valor)
    matriz.append(linha)

# Imprime os elementos da matriz na ordem solicitada
print("\nElementos da matriz na ordem solicitada:")
print(f"1,1 = {matriz[0][0]}")
print(f"1,2 = {matriz[0][1]}")
print(f"2,1 = {matriz[1][0]}")
print(f"2,2 = {matriz[1][1]}")

Digite os elementos da matriz 2x2:
Elemento (1,1): 10
Elemento (1,2): 15
Elemento (2,1): 8
Elemento (2,2): 13

Elementos da matriz na ordem solicitada:
1,1 = 10
1,2 = 15
2,1 = 8
2,2 = 13

7. Faça um algoritmo que leia os dados de uma matriz de 4 linhas e 4 colunas, composta de elementos reais, e calcule a soma dos elementos da diagonal principal da matriz.

In [201]:
# Inicializa a matriz 4x4
matriz = []

# Lê os elementos da matriz 4x4
print("Digite os elementos da matriz 4x4:")
for i in range(4):
    linha = []
    for j in range(4):
        valor = float(input(f"Elemento ({i+1},{j+1}): "))
        linha.append(valor)
    matriz.append(linha)

# Calcula a soma dos elementos da diagonal principal
soma_diagonal = 0
for i in range(4):
    soma_diagonal += matriz[i][i]  # Elementos da diagonal principal estão em (i,i)

# Exibe a soma dos elementos da diagonal principal
print(f"\nA soma dos elementos da diagonal principal é: {soma_diagonal}")

Digite os elementos da matriz 4x4:
Elemento (1,1): 5
Elemento (1,2): 12
Elemento (1,3): 3
Elemento (1,4): 9
Elemento (2,1): 25
Elemento (2,2): 15
Elemento (2,3): 10
Elemento (2,4): 18
Elemento (3,1): 4
Elemento (3,2): 27
Elemento (3,3): 18
Elemento (3,4): 16
Elemento (4,1): 12
Elemento (4,2): 6
Elemento (4,3): 14
Elemento (4,4): 17

A soma dos elementos da diagonal principal é: 55.0

8. Faça um algoritmo que receba uma matriz de 5x5 com números reais. Ao final o algoritmo deve calcular e mostrar a média dos elementos que estão nas linhas pares da matriz.

In [202]:
# Inicializa a matriz 5x5
matriz = []

# Lê os elementos da matriz 5x5
print("Digite os elementos da matriz 5x5:")
for i in range(5):
    linha = []
    for j in range(5):
        valor = float(input(f"Elemento ({i+1},{j+1}): "))
        linha.append(valor)
    matriz.append(linha)

# Calcula a soma e a quantidade de elementos nas linhas pares (índices 0, 2, 4)
soma = 0
contador = 0

for i in range(0, 5, 2):  # Linhas pares têm índices 0, 2, 4
    for j in range(5):    # Cada linha tem 5 elementos
        soma += matriz[i][j]
        contador += 1

# Calcula a média
media = soma / contador if contador > 0 else 0

# Exibe a média
print(f"\nA média dos elementos das linhas pares é: {media}")

Digite os elementos da matriz 5x5:
Elemento (1,1): 1
Elemento (1,2): 2
Elemento (1,3): 3
Elemento (1,4): 47
Elemento (1,5): 5
Elemento (2,1): 6
Elemento (2,2): 7
Elemento (2,3): 8
Elemento (2,4): 9
Elemento (2,5): 10
Elemento (3,1): 11
Elemento (3,2): 12
Elemento (3,3): 13
Elemento (3,4): 14
Elemento (3,5): 15
Elemento (4,1): 16
Elemento (4,2): 17
Elemento (4,3): 18
Elemento (4,4): 22
Elemento (4,5): 23
Elemento (5,1): 24
Elemento (5,2): 25
Elemento (5,3): 26
Elemento (5,4): 27
Elemento (5,5): 28

A média dos elementos das linhas pares é: 16.866666666666667

### Exercícios sobre Tuplas

9. Faça um algoritmo que armazenará os 10 primeiros números primos acima de 100 em uma trupla. Ao final, o algoritmo deve mostrar os valores dessa estrutura de dados.

In [203]:
def is_prime(num):
    """Função para verificar se um número é primo."""
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

def find_primes_above_100(count):
    """Função para encontrar os primeiros 'count' números primos acima de 100."""
    primes = []
    num = 101  # Começar de 101, que é o primeiro número primo acima de 100
    while len(primes) < count:
        if is_prime(num):
            primes.append(num)
        num += 1
    return tuple(primes)

# Encontrar os 10 primeiros números primos acima de 100
primes_tuple = find_primes_above_100(10)

# Exibir o resultado
print("Os 10 primeiros números primos acima de 100 são:", primes_tuple)

Os 10 primeiros números primos acima de 100 são: (101, 103, 107, 109, 113, 127, 131, 137, 139, 149)

### Exercícios sobre Dicionários

10. Faça um algoritmo que carregue um dicionário de 10 elementos onde a chave é o sobrenome da pessoa e o valor a sua idade.
Após a finalização da entrada, o algoritmo deve escrever o sobrenome da pessoa com maior idade.

In [205]:
def find_oldest_person():
    # Inicializar o dicionário vazio
    pessoas = {}
    
    # Carregar o dicionário com sobrenomes e idades
    for _ in range(10):
        sobrenome = input("Digite o sobrenome da pessoa: ")
        idade = int(input(f"Digite a idade de {sobrenome}: "))
        pessoas[sobrenome] = idade
    
    # Encontrar o sobrenome da pessoa com maior idade
    maior_idade_sobrenome = max(pessoas, key=pessoas.get)
    
    # Exibir o sobrenome da pessoa com maior idade
    print(f"A pessoa com a maior idade é: {maior_idade_sobrenome}")

# Chamar a função
find_oldest_person()

Digite o sobrenome da pessoa: Paes
Digite a idade de Paes: 38
Digite o sobrenome da pessoa: Cruz
Digite a idade de Cruz: 41
Digite o sobrenome da pessoa: Bartolomeu
Digite a idade de Bartolomeu: 63
Digite o sobrenome da pessoa: Silva
Digite a idade de Silva: 70
Digite o sobrenome da pessoa: Alves
Digite a idade de Alves: 83
Digite o sobrenome da pessoa: Quadros
Digite a idade de Quadros: 90
Digite o sobrenome da pessoa: Assis
Digite a idade de Assis: 100
Digite o sobrenome da pessoa: Castro
Digite a idade de Castro: 50
Digite o sobrenome da pessoa: Ribeiro
Digite a idade de Ribeiro: 33
Digite o sobrenome da pessoa: Alencar
Digite a idade de Alencar: 75
A pessoa com a maior idade é: Assis

11. Faça um algoritmo que carregue um dicionário contendo nome e idade (pelo menos 5 pares). Depois de carregar, mostre todos os nomes que tenham idade maior que a média das idades.

In [206]:
def pessoas_maiores_que_media():
    # Inicializar o dicionário com 5 pares de nome e idade
    pessoas = {}
    
    # Carregar o dicionário com nomes e idades
    for _ in range(5):
        nome = input("Digite o nome da pessoa: ")
        idade = int(input(f"Digite a idade de {nome}: "))
        pessoas[nome] = idade
    
    # Calcular a média das idades
    media_idades = sum(pessoas.values()) / len(pessoas)
    
    # Exibir os nomes com idades maiores que a média
    print("Pessoas com idade maior que a média:")
    for nome, idade in pessoas.items():
        if idade > media_idades:
            print(nome)

# Chamar a função
pessoas_maiores_que_media()

Digite o nome da pessoa: Samuel
Digite a idade de Samuel: 38
Digite o nome da pessoa: Glaucia
Digite a idade de Glaucia: 41
Digite o nome da pessoa: Marilene
Digite a idade de Marilene: 63
Digite o nome da pessoa: Palmira
Digite a idade de Palmira: 83
Digite o nome da pessoa: Maria
Digite a idade de Maria: 86
Pessoas com idade maior que a média:
Marilene
Palmira
Maria

12. Faça algoritmo que carregue duas listas de cinco elementos numéricos inteiros cada um. A partir dessas duas listas, crie um conjunto da união entre essas duas listas.

In [207]:
def uniao_listas():
    # Carregar a primeira lista de cinco elementos
    lista1 = []
    print("Digite 5 números inteiros para a primeira lista:")
    for _ in range(5):
        numero = int(input("Digite um número: "))
        lista1.append(numero)
    
    # Carregar a segunda lista de cinco elementos
    lista2 = []
    print("Digite 5 números inteiros para a segunda lista:")
    for _ in range(5):
        numero = int(input("Digite um número: "))
        lista2.append(numero)
    
    # Criar o conjunto com a união das duas listas
    conjunto_uniao = set(lista1) | set(lista2)
    
    # Exibir o conjunto da união
    print("Conjunto da união entre as duas listas:", conjunto_uniao)

# Chamar a função
uniao_listas()

Digite 5 números inteiros para a primeira lista:
Digite um número: 10
Digite um número: 25
Digite um número: 8
Digite um número: 7
Digite um número: 15
Digite 5 números inteiros para a segunda lista:
Digite um número: 9
Digite um número: 7
Digite um número: 13
Digite um número: 19
Digite um número: 21
Conjunto da união entre as duas listas: {7, 8, 9, 10, 13, 15, 19, 21, 25}

## Fim da Aula 12